fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
pandas
openpyxl
streamlit
requests
neo4j
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
rank-bm25
sentence-transformers
chromadb
