fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
pandas
numpy
openpyxl
streamlit
plotly
requests
APScheduler
neo4j
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
rank-bm25
sentence-transformers
chromadb
