# Rename this file to .env

# OPTION A — Groq (recommended: free, fast, always on)
# Get your free key at: https://console.groq.com
GROQ_API_KEY=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
